@import url(geral.css);





/* ------------HEADER------------- */






header {
    background-image: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 300%;
    width: 100%;
    padding-top: var(--header-padd-top);
    color: white;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: header-back-ani 5s ease-in-out infinite alternate;
}

.header-box {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 70%;
    padding-top: 90px;
    text-align: center;
}

.header-box div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.header-box div figure {
    padding: var(--padding-figure);
}

.header-back {
    flex: 30%;
}

.header-box p:nth-of-type(1) {
    font-size: 2rem;
}

.header-box h1:nth-of-type(1) {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
}

.header-box div:nth-of-type(2) {
    height: 5px;
    background-image: var(--divider-bg-color);
    width: var(--divider-width);
    margin: 40px;
}

.header-p-small {
    font-size: 1.2rem;
    line-height: 1.2;
}

.header-box span:nth-of-type(1) {
    font-size: 2.3rem;
    font-weight: 700;
}

.header-box span:nth-of-type(2) {
    font-size: 1rem;
    margin-left: 10px;
}

.header-box a button {
    margin: 40px 0px;
    padding: 15px 40px;
    font-size: 1rem;
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 50px;
    background-image: var(--btn-bg-color-gradient);
    background-color: transparent;
    border: none;
    animation: header-button-ani 2s ease-in-out infinite;
    transition: backgroud-image 2s, outline 1s;
    outline: 2px solid transparent;
}

.header-box a button:hover {
    background-image: linear-gradient(45deg,
            #9b34ef,
            #490cb0,
            transparent 1%);
    outline: 2px solid var(--secondary-color);
}

.header-box p:last-of-type {
    line-height: 1.2;
}

.header-back {
    width: 100%;
    background-image: linear-gradient(transparent, var(--primary-color));
}

@keyframes header-back-ani {

    from {
        background-position: 0% 80%;
    }

    to {
        background-position: 80% 0%;
    }

}

@keyframes header-button-ani {

    0%,
    10% {
        transform: rotate(0);
    }

    15% {
        transform: rotate(-15deg);
    }

    20% {
        transform: rotate(10deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    30% {
        transform: rotate(10deg);
    }

    35% {
        transform: rotate(-10deg);
    }

    40%,
    100% {
        transform: rotate(0);
    }

}






/* --------------MAIN SECTION ONE-------------- */






main {
    width: 100%;
    background-color: var(--primary-color);
}

.first-section {
    background-image: url(images/background-movies-series.png);
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 10px;
}

.section-box {
    width: var(--section-box-width);
}

.section-box p {
    font-size: 2rem;
    text-align: center;
    margin: var(--scb-p-margin);
}

.section-card-content {
    display: flex;
    flex-direction: var(--row-column-two);
    align-items: center;
    justify-content: space-around;
}

.price-card {
    background-image: var(--card-bg-color);
    padding: var(--pc-padd);
    border-radius: 10px;
    height: 600px;
    min-width: 536;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    transition: transform 1s;
}

.price-card-top {
    flex: 10%;
    display: flex;
    flex-direction: var(--row-column);
}

.card-header {
    flex: 50%;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 10px;
    text-align: var(--none-center);
}

.card-price {
    flex: 50%;
    display: flex;
    justify-content: var(--end-center);
}

.card-price span:nth-of-type(1) {
    font-size: var(--cp-span-fs);
    color: var(--secondary-color);
    font-weight: 600;
}

.card-content {
    flex: 80%;
    font-size: var(--cc-fs);
}

.card-content ul li {
    margin: 10px;
    padding: 0px 0px 0px 10px;
}

.card-content ul li::marker {
    content: '+';
    font-size: 2rem;
}

.card-footer {
    flex: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-footer button {
    width: var(--cf-btn-width);
    height: var(--cf-btn-height);
    background-image: var(--btn-bg-color-gradient);
    background-color: transparent;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 700;
    letter-spacing: 3px;
    outline: 2px solid transparent;
    transition: transform 1s, outline 1s;
    padding: var(--cf-btn-padd);
}

.card-footer button:hover {
    transform: scale(1.05);
    outline: 2px solid var(--secondary-color);
    background-image: none;
}

.section-card-content:has(.one:hover) .two {
    transform: rotateY(40deg);
}

.section-card-content:has(.two:hover) .one {
    transform: rotateY(-40deg);
}






/* -------------MAIN SECTION TWO------------- */






main section:nth-of-type(2) {
    padding: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main section:nth-of-type(2) p {
    color: white;
    font-size: 2rem;
    margin: 40px;
}

.posters {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 350px));
    grid-template-rows: repeat(2, 1fr);
    gap: 45px;
    padding: 0px 30px 0px;
}

.posters div figure {
    width: 100%;
    height: 100%;
}

.posters div figure img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.posters div {
    transition: transform 1s, outline 1s;
    outline: 2px solid transparent;
    border-radius: 15px;
}

.posters div figure img {
    transition: opacity 2s;
}

.posters div:hover {
    transform: scale(1.05);
    outline: 2px solid var(--tertiary-color);
}

.posters div figure img:hover {
    opacity: 0;
}

.posters div:nth-of-type(1) {
    background-image: url(images/Cards/hbo-hover_0.webp);
    background-size: cover;
}

.posters div:nth-of-type(2) {
    background-image: url(images/Cards/MAX-Hover.webp);
    background-size: cover;
}

.posters div:nth-of-type(3) {
    background-image: url(images/Cards/DC-Hover.webp);
    background-size: cover;
}

.posters div:nth-of-type(4) {
    background-image: url(images/Cards/WB-Hover.webp);
    background-size: cover;
}

.posters div:nth-of-type(5) {
    background-image: url(images/Cards/CN-Hover.png);
    background-size: cover;
}

.posters div:nth-of-type(6) {
    background-image: url(images/Cards/UCL-Hover.webp);
    background-size: cover;
}










@media only screen and (max-width: 1000px) {

    :root {
        --row-column-two: column;
        --section-box-width: 95%;
    }

}


@media only screen and (max-width: 800px) {

    :root {
        --row-column: column;
        --none-center: center;
        --end-center: center;
        --img-height: 15px;
        --img-margin: 15px 0px;
        --padding-figure: 15px 20px;
        --header-padd-top: 100px;
        --divider-width: 60%;
        --scb-p-margin: 10px 10px 50px;
        --pc-padd: 50px 30px;
        --cp-span-fs: 1.5rem;
        --cc-fs: 1.1rem;
        --cf-btn-padd: 10px 40px;
        --cf-btn-height: 60px;

    }

    .section-card-content:has(.one:hover) .two {
        transform: none;
    }

    .section-card-content:has(.two:hover) .one {
        transform: none;
    }

    .posters {
        grid-template-columns: repeat(2, minmax(100px, 350px));
        grid-template-rows: repeat(3, 1fr);
    }

}

@media only screen and (max-width: 500px) {

    .posters {
        grid-template-columns: repeat(6, 400px);
        grid-template-rows: repeat(1, 1fr);
        padding: 0px 0px 0px;
        width: 400px;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    main section:nth-of-type(2) p {
        margin: 40px 0px;
    }

    footer div:nth-child(1) {
        gap: 15px 30px;
    }


}